/* _about.scss */
.about-wrap {
  width: 90%;
  margin: 0 auto;
  padding: min(20vw, 120px) 0;
  overflow-x: hidden;
  color: #333;
  text-align: center;
  h2 {
    font-size: 1.4rem;
    font-weight: 400;
  }
  h3 {
    font-size: min(8vw, 4rem);
    font-weight: 700;
    color: #aaa;
  }
  ul {
    transition: 3s ease-in-out;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: min(1.2vw, 24px);
    aspect-ratio: 1.2/1;
    .card-box {
      position: relative;
      text-align: left;
      perspective: 200vw;
      .card {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 1.8rem;
        transform-style: preserve-3d;
        span {
          position: absolute;
          bottom: 0;
          display: block;
          color: #fff;
          width: 100%;
          height: min(100%, 200px);
          background: rgba(0, 0, 0, 0.4);
          padding: 24px;
          box-sizing: border-box;
          p {
            font-size: min(2vw, 1rem);
            line-height: 1.4;
            b {
              font-weight: 700;
              font-size: min(2.4vw, 1.6rem);
              line-height: 1.6;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: middle;
        }
        &:first-child {
          transform: rotateX(90deg);
          transition: 0.4s linear;
        }
        &:last-child {
          transform: rotateX(0deg);
          transition: 0.4s 0.4s linear;
        }
      }
      &:hover .card {
        &:first-child {
          transform: rotateX(0deg);
          transition: 0.4s 0.4s linear;
        }
        &:last-child {
          transform: rotateX(90deg);
          transition: 0.4s linear;
        }
      }
    }
  }
  @include tablet-medium {
    ul {
      grid-template-columns: repeat(2, 1fr);
      aspect-ratio: 1.2/2;
    }
  }
  @include tablet-small {
    ul {
      grid-template-columns: 1fr;
      aspect-ratio: 1/6;
      .card-box .card span {
        padding: 20px;
        p {
          font-size: min(4vw, 1rem);
          b {
            font-size: min(5vw, 1.4rem);
          }
        }
      }
    }
  }
}
