/* 변수 */
$topHeight-PC: 3vh;

/************ header 상단영역 ************/
header {
  position: absolute;
  width: 100%;
  background-color: #ffffff40;
  z-index: 1;
  .header_inner {
    position: relative;
    padding: $topHeight-PC 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    position: relative;
    margin: 0 auto;
    width: 90%;
    text-transform: uppercase;
    h1 {
      width: min(20vw, 160px);
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .header-menu {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    @include tablet-small {
      display: none;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    a {
      color: #333;
      font-size: min(1.8vw, 1.2rem);
      font-weight: 600;
    }
    li {
      position: relative;
      a::after {
        background-color: #333;
        content: "";
        height: 1px;
        min-width: 0%;
        position: absolute;
        right: 0;
        top: 100%;
        transition: all 0.3s ease-out;
      }
      a:hover::after {
        left: 0;
        right: unset;
        min-width: 100%;
      }
    }
  }
  .ham-nav-wrap {
    background-color: #f3f3e9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
    text-align: center;
    display: none;
    @include tablet-medium {
      height: 100vh;
    }
    &.active {
      display: block;
    }
  }
  .header__menu-circle {
    background-color: #f3f3e9;
    width: 30vw;
    height: 30vw;
    display: block;
    border-radius: 100%;
    position: absolute;
    &.n1 {
      left: 0%;
      top: -50%;
    }
    &.n2 {
      left: 20%;
      top: 30%;
    }
    &.n3 {
      left: 50%;
      top: 98%;
      translate: -50% 0;
    }
    &.n4 {
      right: 20%;
      top: 30%;
    }
    &.n5 {
      right: 0%;
      top: -50%;
    }
  }
  .ham-nav-btn {
    text-align: center;
    position: fixed;
    top: - $topHeight-PC;
    left: 50%;
    translate: -50% 0%;
    transition: all 0.3s ease-out;
    z-index: 2;
    &.on {
      top: $topHeight-PC;
    }
    &.active {
      top: $topHeight-PC;
    }
    & .burger-line__top,
    & .burger-line__bottom {
      transition: all 0.3s ease-out;
    }
    &.active .burger-line__top {
      y: 7;
      width: 43;
      height: 2;
      transform: matrix(0.9563, -0.29237, 0.29237, 0.9563, -1.39941, 6.63556);
    }
    &.active .burger-line__bottom {
      y: 7;
      width: 43;
      height: 2;
      transform: matrix(0.9563, 0.29237, -0.29237, 0.9563, 3.27851, -5.93636);
    }
  }

  .ham-nav {
    position: absolute;
    top: 10vh;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      position: relative;
      padding: 8px;
      a {
        font-size: 3rem;
        font-weight: 700;
        img {
          height: 40px;
          margin: 8px;
        }
      }
      span > img {
        height: 28px;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &.on > span > img {
        opacity: 1;
      }
      .balloon {
        animation: balloon-ani 1s linear infinite forwards;
      }
      &:nth-child(1n) .balloon {
        position: absolute;
        left: -8%;
      }
      &:nth-child(2n) .balloon {
        position: absolute;
        left: unset;
        right: -8%;
      }
    }
  }
  @keyframes balloon-ani {
    0% {
      transform: translateY(10%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }
  /* 추가 회원메뉴 */
  .add-menu {
    ol {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      li:nth-child(2) {
        display: none;
      }
      &.login {
        li:nth-child(1),
        li:nth-child(3) {
          display: none;
        }
        li:nth-child(2) {
          display: block;
        }
      }
    }
    
  }
}

/*********** main 컨텐츠영역 ***********/
main {
  min-height: 1000px;  
}

/*********** footer 하단영역 ***********/
footer {
  background-color: #333;
  .footer {
    margin: 0 auto;
    width: 90%;
    padding: 5vh 0;
    display: flex;
    justify-content: space-between;
    @include tablet-small {
      padding: 2vh 0;
      display: block;
    }
  }
  .footer p {
    color: #fff;
    font-size: min(4vw, 1.6rem);
    font-weight: 700;
  }
}
