.main-wrap {
  width: 100%;
  color: var(--color-font-main);
  .section-divider-svg-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .section01 {
    min-height: 60vh;
    .section-border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .white-up {
        position: absolute;
        top: auto;
        bottom: 10vh;
        right: 10vw;
        left: auto;
        @include tablet-small {
            left: 10vw;
        }
        img {
            width: 100%;
            max-width: 500px;
            height: auto;
        }
    }
  }
  .section02 {
    background: #fff;
    .text-box {
      margin: 0 auto;
      padding: 16vh 0 20vh 0;
      width: 96%;
      max-width: 1200px;
      @include tablet-small {
        padding: 10vh 0;
      }
      h2 {
        font-size: min(6vw, 4rem);
        font-weight: 600;
        padding-bottom: 4vh;
      }
      p {
        font-size: min(4vw, 1.6rem);
        font-weight: 200;
        line-height: 2rem;
      }
    }
  }
  .section03 {
    background: #fff;
    .card-box {
      ul {
        margin: 0 auto;
        width: 96%;
        max-width: 1400px;
        height: 280vw;
        @include tablet-small {
          height: auto;
          padding: 4vh 0;
        }
        li {
          float: left;
          position: sticky;
          top: 20%;
          width: 25%;
          min-height: 480px;
          background: #fff;
          box-sizing: border-box;
          border-radius: 1rem;
          box-shadow: 0 0 10px #00000050;
          background: url(../images/about/card_char_1.jpg) center 100% / cover;
          rotate: 10deg;
          transition: all 0.3s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:nth-child(1) {
              margin-top: 0px;
          }
          &:nth-child(2) {
            background: url(../images/about/card_char_2.jpg) center 100% / cover;
            margin-top: 600px;
            rotate: -10deg;
          }
          &:nth-child(3) {
            background: url(../images/about/card_char_3.jpg) center 100% / cover;
            margin-top: 1200px;
          }
          &:nth-child(4) {
            background: url(../images/about/card_char_4.jpg) center 100% / cover;
            margin-top: 1800px;
            rotate: -10deg;
          }
          em {
            width: 100%;
            height: 100%;
            font-size: min(6vw, 2rem);
            font-weight: 600;
            color: #fff;
            text-shadow: 0 0 3px #00000020;
            margin-top: 50%;
            opacity: 0.2;
            transition: opacity 0.3s ease-in-out;
            @include tablet-small {
              opacity: 1;
            }
          }
          &:hover em {
            opacity: 1;
          }
          @include tablet-small {
            width: 100%;
            float: none;
            position: relative;
            top: 0;
            rotate: 0deg;
            &:nth-child(2) {
              margin-top: 4%;
              rotate: 0deg;
            }
            &:nth-child(3) {
              margin-top: 4%;
              rotate: 0deg;
            }
            &:nth-child(4) {
              margin-top: 4%;
              rotate: 0deg;
            }
          }
        }
      }
    }
  }
}
