/* 메인비쥬얼 CSS - main_visual.css */

@import url(./common.css);

/* 영역 표시용 아웃라인 */
/* body * {
  outline: 1px dashed red;
} */

/* 웹사이트 세로축 스크롤 숨기기 */
html, body{
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* box-sizing: border-box; */
}

/******************* 메인배너 구역 *******************/
.main-visual-page {
  position: relative;
  aspect-ratio: 2;
  overflow: hidden;
}
.ban-ani-box {
  clip-path: ellipse(90% 60% at 50% 0%);
}
.main-img {
  width: 100%;
  height: 100%;
  translate: 0 -25%;
  mask-image: radial-gradient(
    ellipse 90% 60% at 50% 21%,
    black 70%,
    transparent 100%
  );
}

/* 스크롤액션 대상 클래스 */
.sc-target {
  opacity: 0;
  translate: 0 20%;
  transition: 0.8s ease-in-out;
}
/* 스크롤액션 대상 클래스 등장 */
.sc-target.on {
  opacity: 1;
  translate: 0 0;
}

/* 로고 */
.up-logo {
  position: absolute;
  top: 20%;
  left: 65%;
  width: 30%;
  opacity: 0;
  animation: up-logo-img-ani 0.8s ease-out 0s forwards;
}
/* 로고 등장 애니메이션 */
@keyframes up-logo-img-ani {
  to {
    left: 63%;
    opacity: 1;
  }
}
/* 배너 명대사 셋팅 */
.main-text {
  font-family: "Pretendard Variable", sans-serif;
  position: absolute;
  /* width: 35%; */
  top: 54%;
  left: 55%;
  font-size: 2.5vw;
  color: #fff;
  /* text-shadow: 0 0 5px #00000085; */
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;
  animation: up-text-ani 0.8s ease-out 0.2s forwards;
}

/***************** 영화소개 인트로 영역 *****************/
/* 텍스트 등장 애니메이션 */
@keyframes up-text-ani {
  to {
    left: 50%;
    opacity: 1;
  }
}
/* 택스트셋팅 */
.intro-text-box {
  margin-top: 10vh;
  font-family: "Pretendard Variable", sans-serif;
  text-align: center;
  height: 50vh;
}
/* 제목 */
.intro-text-box h2 {
  font-weight: bold;
  font-size: 5vh;
}
/* 내용 */
.intro-text-box p {
  font-size: 2vh;
  line-height: 1.8;
  padding: 2vw 25.4vw;
}

/********************* 캐릭터카드 영역 *********************/
/* 카드 영역 */
.character-card-area {
  /* display: flex; */
  /* gap: -10vw; */
  height: 500vh;
  background-color: var(--color-site-bg);
  justify-content: center;
  padding-left: 5vw;

}
/* 카드 기본설정 */
.card {
  position: sticky;
  top: 10vh;
  float: left;
  /* bottom: 20vh; */
  width: 22vw;
  aspect-ratio: 0.6;
  flex-basis: auto;
  background-color: var(--color-primary);
  box-shadow: -7px 5px 10px #00000052;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
/* 카드속박스 */
.in-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 캐릭터 이름 */
.card h3 {
  padding-top: 2vh;
  padding-left: 3vh;
  font-size: 1.5vw;
  color: #fff;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 5px 5px #0000007a;
}

/* 캐릭터 명대사 */
.card p {
  margin-top: auto;
  color: #fff;
  text-align: left;
  font-size: 2vw;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-bottom: 4vh;
  font-weight: bold;
  text-shadow: 0px 5px 5px #0000007a;
}

/* 첫번째 카드 */
.card:nth-child(1) {
  margin-top: 20vh;
  rotate: 10deg;
  background-image: url(../img/carl_img/carl15.jpg);
}

/* 두번째 카드 */
.card:nth-child(2) {
  margin-top: 120vh;
  rotate: -10deg;
  background-image: url(../img/russell_img/russell12.jpg);
}

/* 세번째 카드 */
.card:nth-child(3) {
  margin-top: 220vh;
  rotate: 3deg;
  background-image: url(../img/dug_img/dug9.jpg);
}

/* 네번째 카드 */
.card:nth-child(4) {
  margin-top: 320vh;
  rotate: -15deg;
  background-position: 60% 20%;
  background-image: url(../img/kevin_img/kevin13.jpg);
}